body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.mobile-header {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.icons {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  width: 100%;
  height: 400px;
  margin-top: 20px; /* Adjust margin as needed */
  z-index: 10;
}

.map {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc; /* Optional */
}

.service-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.service-card {
  background-color: white;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.service-card img {
  width: 100%;
  border-radius: 8px;
}

.service-card h3 {
  margin: 10px 0;
}

.service-card button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.service-card button:hover {
  background-color: #45a049;
}
